<p>The scientific objective of the project is to develop methods for induction of context-free and probabilistic
grammars, word graphs and deterministic and nondeterministic finite automata. The project will verify the
hypotheses on the role of counterexamples in the induction of probabilistic grammars, as well as concerning the
existence of polynomial algorithms for induction of context-free grammars and nondeterministic automata. The
effectiveness of the proposed methods will be verified in the practical way by constructing the algorithms and
their computer implementations (programs) carrying out the processes of induction. The developed methods,
algorithms and programs will be applied to classification of actual bioinformatics data. Here are the groups of
tasks that will be the subject of project research:</p>

<p><strong>Induction of probabilistic grammars</strong>, including the following tasks: <span class="sc">Model of induction of probabilistic
grammars (MI)</span>, <span class="sc">Role of counterexamples in learning of probabilistic grammars (RK)</span>
and <span class="sc">Application of the model of grammar induction in classification of bioinformatics data
(ZM)</span>. The research goal of the task MI is to improve our original system of deterministic context-free grammar
induction by extending it to the probabilistic model. In this model, we will take into account the counterexamples
(task RK) that should increase the efficiency of learning a probabilistic grammar. In the task ZM we will
apply the developed model to solve the issues of classification of actual bioinformatics data—such as amyloid
proteins—or for prediction of RNA secondary structure.</p>

<p><strong>Induction of noncircular context-free grammars and word graphs</strong>, including the tasks: <span class="sc">Induction
of noncircular context-free grammars (GB)</span>, <span class="sc">Induction of word graphs (GS)</span> and <span class="sc">Application
of noncircular context-free grammars and word graphs in classification of bioinformatics
data (ZG)</span>. The task GB will involve research on methods of noncircular context-free grammar induction
with constraints imposed on commonly formulated requirements in induction problems. In the task GS the
methods for creating word graphs will be examined, in particular a polynomial algorithm constructing an
acyclic word graph will be developed. The task ZG aims at verification of effectiveness of binary classification
using noncircular grammars and word graphs for actual bioinformatics data.</p>

<p><strong>Induction of nondeterministic automata and decomposition of finite languages</strong>, including the tasks:
<span class="sc">Induction of nondeterministic automata (IA)</span>, <span class="sc">Decomposition of finite languages (DJ)</span> and <span class="sc">Application
of automata induction and decomposition of languages in classification of bioinformatics
data (ZD)</span>. The research conducted in the IA task will consist in development of the approach
to transform minimization of an automaton into a nonlinear integer programming problem. As a part of task
DJ the new extended formulation of the problem of decomposition of finite languages will be investigated. To
identify the protein sequence similarities, which allows for detecting several functions of a given protein in task
ZD, we will use the pre-existing results of research on the extended problem of decomposition of finite languages.</p>
