<ul>
	<li>Model of induction of probabilistic grammars.</li>
	<li>Role of counterexamples in learning of probabilistic grammars.</li>
	<li>Application of the model of grammar induction in classification of bioinformatics data.</li>
	<li>Induction of noncircular context-free grammars.</li>
	<li>Induction of word graphs.</li>
	<li>Application of noncircular context-free grammars and word graphs in classification of bioinformatics data.</li>
	<li>Induction of nondeterministic automata.</li>
	<li>Decomposition of finite languages.</li>
	<li>Application of automata induction and decomposition of languages in classification of bioinformatics data.</li>
</ul>
